@{
    ViewBag.Title = "About";
}
<br>
<h3>Добавление нового заказа</h3>
<br>
<p>Дата</p>
<input id="addDate" type="date" value="" />
<br />
<p>ФИО Клиента</p>
<input id="addFIO" value="" />
<br>
@*<p>общая сумма заказа</p>
<input id="addSumOrder" value="" />*@
<br>

<button id="Add">Add</button>


<h3>Отобрать заказы по периоду</h3>
<p>ОТ:</p>
<input id="DateFrom" type="date" value="" onchange="ChangeDateFrom(event)" />
<p>ДО:</p>
<input id="DateTo" type="date" value="" onchange="ChangeDateTo(event)" />
<br>
<button id="Filter">Filter</button>
<br>
<h3>Заказы</h3>
<br>
<table id="Order">
    <thead>
        <tr>
            <th>Дата</th>
            <th>Номер</th>
            <th>ФИО Клиента</th>
            <th>общая сумма заказа</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<!--<h3>Позиции заказа</h3>

<br>
<table id="Pozition">
    <thead>
        <tr>
            <th>Айди</th>
            <th>Название товара</th>
            <th>Цена</th>
            <th>Количество</th>
            <th>Стоимость</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<br>
<br>
<h3>Позиции заказа для добавления</h3>

<br>
<table id="FreePozition">
    <thead>
        <tr>
            <th>Айди</th>
            <th>Название товара</th>
            <th>Цена</th>-->
            @*<th>Количество</th>
            <th>Стоимость</th>*@
            <!--<th>Add</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>-->

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryDataTable")
<script type="text/javascript">
    $(function () {

        function ConvertToDate(data) {
            var milli = data.replace(/\/Date\((-?\d+)\)\//, '$1');
            var d = new Date(parseInt(milli));

            var datestring = d.getDate() + "-" + (d.getMonth() + 1) + "-" + d.getFullYear();
            return datestring;
        }

        var tableOrder = $("#Order").DataTable({
            processing: true,
            serverSide: true,
            filter: true,
            orderMulti: false,
            bPaginate: false,
            bFilter: false,
            "ajax": {
                "url": "@Url.Action("LoadTable", "Home")",
                "type": "POST",
                "dataType": "json",
            },
            "columns": [
                {
                    "data": "DateOrder", "name": "Дата", "autoWidth": true,
                    "render": function (data, row) {
                        return ConvertToDate(data);
                    }
                },
                { "data": "ID", "name": "Номер", "autoWidth": true },
                {
                    "data": "FIO", "name": "ФИО Клиента", "autoWidth": true,
                    "render": function (data, type, full, meta) {
                        return "<input id='idOrderFIO" + full.ID + "' onchange=ChangeFIO('" + full.ID + "'); value='" + full.FIO + "'></input>";
                    }
                },
                { "data": "SumOrder", "name": "общая сумма заказа", "autoWidth": true },
                {
                    "render": function (data, type, full, meta) {
                        return '<a class="btn btn-info" href="'+'@Url.Action("EditTable", "Home")/' + full.ID + '">Изменить</a>';
                    }
                },
                {
                    data: null,
                    render: function (data, type, row) {
                        return "<a href='#' class='btn btn-danger' onclick=Delete('" + row.ID + "'); >Удалить</a>";
                    }
                },
            ]
        });
        @*$("#Order tbody").on('click', 'tr', function () {
            var data = tableOrder.row(this).data();
            IDClickedOrder = data.ID;
            var tablePozition = $("#Pozition").DataTable();
            tablePozition.ajax.url("@Url.Action("LoadPozition", "PozitionOrder")?id=" + data.ID).load();
            $('#FreePozition').DataTable().ajax.reload();
        });*@

        $("#Add").click(function () {
            var addDate = $("#addDate").val();
            var addFIO = $("#addFIO").val();

            $.ajax({
                type: "POST",
                url: "@Url.Action("Add", "Home")",
                data: {
                    DateOrder: addDate,
                    FIO: addFIO,
                    SumOrder: 0
                },
                success: function (response) {
                    var table = $('#Order').DataTable();
                    table.ajax.url("@Url.Action("LoadTable", "Home")").load();
                }
            });
        });


        $("#Filter").click(function () {
            var table = $("#Order").DataTable();
            table.ajax.url("@Url.Action("LoadTable", "Home")?from=" + DateFrom + "&to=" + DateTo).load();
        });







        

    })
</script>