@model WebApplication5.Infrastructure.Entity.Order

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryDataTable")
@Scripts.Render("~/bundles/jqueryval")
<h2>Добавление позиций</h2>

<br />
<br />
<h3>Позиции заказа</h3>

<br>
<table id="PozitionAdd">
    <thead>
        <tr>
            <th>Айди</th>
            <th>Название товара</th>
            <th>Цена</th>
            <th>Количество</th>
            <th>Стоимость</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<br>
<br>
<h3>Справочник товаров</h3>

<br>
<table id="FreePozitionAdd">
    <thead>
        <tr>
            <th>Айди</th>
            <th>Название товара</th>
            <th>Цена</th>
            <th>Add</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<br />
<br />

<div>
    @Html.ActionLink("Back to List", "About")
</div>

<script>
    $(function () {
        $("#PozitionAdd").DataTable({
            processing: true,
            serverSide: true,
            orderMulti: false,
            bPaginate: false,
            bFilter: false,
            "ajax": {
                "url": "@Url.Action("LoadPozition", "PozitionOrder")",
                "type": "POST",
                "dataType": "json",
            },
            "columns": [
                {
                    "data": "ID", "name": "Айди", "visible": false, "autoWidth": true
                },
                {
                    "data": "NameProduct", "name": "Название товара", "autoWidth": true
                },
                { "data": "Price", "name": "Цена", "autoWidth": true },
                {
                    "data": "NumberProduct", "name": "Количество", "autoWidth": true,
                    "render": function (data, type, full, meta) {
                        return "<input id='idPozitionAddNumberProduct" + full.ID + "' onchange=ChangeNumberProductNew(event,'" + full.ID + "','@Model.ID'); value='" + full.NumberProduct + "'></input>";
                    }
                },
                { "data": "Cost", "name": "Стоимость", "autoWidth": true },
                {
                    data: null,
                    render: function (data, type, row) {
                        return "<a href='#' class='btn btn-danger' onclick=DeletePozitionNew('" + @Model.ID + "','" + row.ID + "'); >Удалить</a>";
                    }
                },
            ]
        });


        $("#FreePozitionAdd").DataTable({
            processing: true,
            serverSide: true,
            orderMulti: false,
            bPaginate: false,
            bFilter: false,
            "ajax": {
                "url": "@Url.Action("LoadAllPozition", "PozitionOrder")",
                "type": "POST",
                "dataType": "json",
            },
            "columns": [
                {
                    "data": "ID", "name": "Айди", "visible": false, "autoWidth": true
                },
                {
                    "data": "NameProduct", "name": "Название товара", "autoWidth": true
                    @*"render": function (data, type, full, meta) {
                        return "<input id='idFreePozitionAddNameProduct" + full.ID + "' onchange=ChangeNameProduct('" + @Model.ID + "','" + full.ID + "'); value='" + full.NameProduct + "'></input>";
                    }*@
                },
                {
                    "data": "Price", "name": "Цена", "autoWidth": true
                    @*"render": function (data, type, full, meta) {
                        return "<input id='idFreePozitionAddPrice" + full.ID + "' onchange=ChangePrice('" + @Model.ID + "','" + full.ID + "'); value='" + full.Price + "'></input>";
                    }*@
                },
                {
                    data: null,
                    render: function (data, type, row) {
                        return "<a href='#' class='btn btn-success' onclick=AddPozitionNew('" + @Model.ID + "','" + row.ID + "'); >Добавить</a>";
                    }
                },
            ]
        });
        function LoadTable() {
            var tablePozition = $("#PozitionAdd").DataTable();
            tablePozition.ajax.url("@Url.Action("LoadPozition", "PozitionOrder")?id=" + @Model.ID).load();
        }
        LoadTable();


    })
</script>